<!DOCTYPE html>
<html>
	<head>
		 <meta content ="text/html charset =UTF-8" http-equiv="Content-Type"/>
	</head>
	<body>
		<h1>Welcome to Bemi|Academy <%= @student.username%></h1>
		<p>You have successfully signed up</p>
		<p>Thanks for joining, keep on learning</p>
	</body>
</html>